

li{
	position: relative;
	background: rgba(0, 0, 0, .2);
	margin-bottom: 0.5rem;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
	padding: 0.5rem;
	border: solid 2px rgba(0, 0, 0, .3);
	min-width: 200px;
	max-width: 500px;
}

.icon-container-delete{
	position: relative;
}

.icon-complete{
	fill:white;
}

.icon-complete:hover{
	fill:lightgreen;
}

.icon-delete{
	position: absolute;
	top:-30px;
	right: -5px;
	fill:white;
}

.icon-delete:hover{
	fill:red;
}

@media screen and (max-width:600px){
	li{
		max-width: 100%;
	}
}